.students img{width: 100%;}
.discover img{width: 75%;
border: none;}
.company img{width: 75%;}
.icon-white{ 
    color:white;}
    .icon img{width: 5%;}
.discover-t{width: 100%;}
footer{width:100%;
background-color: black;}
.icon img:hover{background-color: aquamarine;
-ms-zoom-animation: 12px;}